PORT=
JWT_SECRET=

# POSTGRES DB
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# CORS
FRONTEND_URL=

# Admin
SUPERADMIN_USERNAME=
SUPERADMIN_PASSWORD=

# SERP API
SERPAPI_API_KEY=

# SMTP (Email)
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password